* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
font-family: "Inter", sans-serif;
background-color: black;
}
.Nav a{
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
margin-inline: auto;
padding: 16px 25px;
border-bottom: 0.5px solid rgb(30, 32, 41);
position:fixed;
overflow:hidden;
top: 0;
background-color: black;
text-decoration: none;
}
.Nav p {
color: rgb(143, 144, 148);
font-size: 30px;
font-weight: 600;
cursor: pointer;
}
.Nav .B1bn1gd {
color: white;
}
.Nav button{
  background-color: black;
  border: none;
}
.Nav svg{
 width: 30px;
 height: 30px;
 color: white;
 z-index: 2;
}
.menu {
display: none;
position:fixed;
right: 0;
top: 0;
bottom:0;
width: 90%;
transform: translateX(0%) translateZ(0px);
color: white;
}
.menu section{
border-bottom: 1px ;
}
.menu span{
font-size: 20px;
color: rgb(143, 144, 148);
font-weight: 600;
}
.menu button{
  align-items: center;
  width: 32px;
  height: 32px;
  font-size: 12px;
  position: absolute;
  cursor: pointer;
  background: transparent;
  border: none;
}
ul {
list-style: none;
}
.main{
  padding: 16px 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.first_page {
margin: 5rem 0 ;
}
.first_page img{
position: absolute;
z-index: -1;
top: 5.8rem;
left: 0.5rem; 
width: 4rem;
filter: invert(0.1);
}
.first_page .top{
color: rgb(56, 207, 145);
font-weight: 600;
width: 100%;
}
.first_page .top p{
  font-size: 18px;
}

.first_page .top .name {
color: white;
font-size: 3em;
font-weight: 800;  
line-height: 1em;
}
@media screen and (min-width:375px){ 
.first_page .top .name {
font-size: 3.5em;
}

}
.first_page .content {
letter-spacing: -1px;
color: white;
font-size: 16px;
font-weight: 600;
margin-top: 1.5em;
}
.first_page span {
color: rgb(143, 144, 148);
line-height: 1.3em;

}
.bio {
margin-top: 2.3em;
color: rgb(143, 144, 148);
font-weight: 400;
font-size: 0.75em;
/* padding: 20px 10px 5px 0px; */
line-height: 1.5em;
}
.bio span{
color: rgb(48, 197, 136);
font-size: 0.8rem;
}
.button-bar {
display: flex;
justify-content:space-between;
width: 100%;
margin-top: 0.8em;
}
.button-bar a {
  /* width: 30%; */
text-decoration: none;
display: flex;
color: white;

}
.button-bar button {
font-size: 0.8rem;
font-weight: 600;
font-family: "Inter", sans-serif;
background-color: rgb(20, 20, 20);
border: none;
align-items: center;
margin-top: 1.5em;
padding: 0.5em 0.7em;
border-radius: 7px;
}
button svg{
margin: 0px 8px 0px 0px;
}
.Second_page {
display: flex;
flex-direction: column;
color: rgb(143, 144, 148);
font-weight: 200;
transition: 0.4s;
}
.Second_page .heading {
font-family: "Ubuntu", sans-serif;
font-style: normal;
font-size: 1.5rem;
font-weight: 700;
color: white;
margin: 0.3em 0;
}
.About_me article{
color: grey;
font-size: 13px;
font-weight: 400;
line-height: 18px;
margin: 1em 0;
}
.About_me span{
  color: rgb(47, 192, 132);
  }
.prf-img{
  margin: 1em 0;
}
.prfimg{
  position: absolute;
  z-index: 1;
  top: 58.8em;
  right: 0px;
  width: 5.5em;
  filter: invert(0.1);
}
.main .bottom{
font-size: 33px;
font-weight: 700;
text-align: center;
margin-top: 2em;
color: white;
}
.main .last{
color: rgb(143, 144, 148);
text-align: center;
line-height: 23px;
font-size: 15px;
font-weight: 400;
margin: 2em 0em;
}
.fed {
color: rgb(47, 192, 132);
}
.btn {
display: flex;
justify-content: space-between;
align-items: center;
}
.btn a {
  text-decoration: none;
}
.btn button {
font-size: 0.8rem;
font-weight: 600;
font-family: "Inter", sans-serif;
color: white;
background-color: rgb(20, 20, 20);
border: none;
display: flex;
align-items: center;
padding: 0.5em 0.7em;
border-radius: 7px;
}
.footer {
text-align: center;
margin-top: 9rem;
margin-bottom: 2em;
}
.footer p{
font-size: 12px;
font-weight: 400;
line-height: 20px;
text-align: center;
color: white;
}
.footer span{
color: rgb(47, 192, 132);
font-weight: 600;
}
